# Covid Cases

In [1]:
import pandas as pd
import numpy as np

D:\Anaconda\envs\bdt\lib\site-packages\numpy\_distributor_init.py:32: UserWarning: loaded more than 1 DLL from .libs:
D:\Anaconda\envs\bdt\lib\site-packages\numpy\.libs\libopenblas.JPIJNSWNNAN3CE6LLI5FWSPHUT2VXMTH.gfortran-win_amd64.dll
D:\Anaconda\envs\bdt\lib\site-packages\numpy\.libs\libopenblas.PYQHXLVVQ7VESDPUVUADXEVJOBGHJPAY.gfortran-win_amd64.dll
  stacklevel=1)

In [2]:
covid_cases = pd.read_csv('12-08-2020 - 27-04-21 (Master File).csv')

D:\Anaconda\envs\bdt\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (13) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
covid_cases.dtypes

FIPS                   float64
Admin2                  object
Province_State          object
Country_Region          object
Last_Update             object
Lat                    float64
Long_                  float64
Confirmed                int64
Deaths                   int64
Recovered              float64
Active                 float64
Combined_Key            object
Incident_Rate          float64
Case_Fatality_Ratio     object
dtype: object

In [4]:
covid_cases.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
0,NaN,NaN,NaN,Afghanistan,09/12/2020 05:28,33.93911,67.709953,47716,1906,37920.0,7890.0,Afghanistan,122.573937,3.994467
1,NaN,NaN,NaN,Albania,09/12/2020 05:28,41.15330,20.168300,44436,936,22527.0,20973.0,Albania,1544.096185,2.1064
2,NaN,NaN,NaN,Algeria,09/12/2020 05:28,28.03390,1.659600,89416,2539,58146.0,28731.0,Algeria,203.908491,2.839537
3,NaN,NaN,NaN,Andorra,09/12/2020 05:28,42.50630,1.521800,7127,78,6367.0,682.0,Andorra,9224.098880,1.09443
4,NaN,NaN,NaN,Angola,09/12/2020 05:28,-11.20270,17.873900,15729,355,8470.0,6904.0,Angola,47.857578,2.256978

In [5]:
covid_cases['Last_Update'] = pd.to_datetime(covid_cases['Last_Update'], format = '%d/%m/%Y %M:%S')

In [6]:
covid_cases['Last_Update'] = pd.to_datetime(covid_cases['Last_Update']).dt.date

In [7]:
covid_cases['date'] = covid_cases['Last_Update'] - np.timedelta64(1,'D')

In [8]:
covid_cases.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio,date
0,NaN,NaN,NaN,Afghanistan,2020-12-09,33.93911,67.709953,47716,1906,37920.0,7890.0,Afghanistan,122.573937,3.994467,2020-12-08
1,NaN,NaN,NaN,Albania,2020-12-09,41.15330,20.168300,44436,936,22527.0,20973.0,Albania,1544.096185,2.1064,2020-12-08
2,NaN,NaN,NaN,Algeria,2020-12-09,28.03390,1.659600,89416,2539,58146.0,28731.0,Algeria,203.908491,2.839537,2020-12-08
3,NaN,NaN,NaN,Andorra,2020-12-09,42.50630,1.521800,7127,78,6367.0,682.0,Andorra,9224.098880,1.09443,2020-12-08
4,NaN,NaN,NaN,Angola,2020-12-09,-11.20270,17.873900,15729,355,8470.0,6904.0,Angola,47.857578,2.256978,2020-12-08

In [9]:
del covid_cases['Last_Update']
del covid_cases['FIPS']
del covid_cases['Admin2']
del covid_cases['Province_State']
del covid_cases['Combined_Key']
del covid_cases['Lat']
del covid_cases['Long_']
#Change Korea, South to South Korea
covid_cases['Country_Region'].replace(['Korea, South'], 'South Korea', inplace = True)

In [10]:
covid_cases = covid_cases.fillna(0)
covid_cases = covid_cases.replace('#DIV/0!', 0)
covid_cases["Case_Fatality_Ratio"] = pd.to_numeric(covid_cases["Case_Fatality_Ratio"])

In [11]:
covid_cases1=covid_cases.groupby(['Country_Region','date'])[['Confirmed','Deaths','Recovered','Active']].sum()

In [12]:
covid_cases2=covid_cases.groupby(['Country_Region','date'])[['Incident_Rate','Case_Fatality_Ratio']].mean()

In [13]:
covid_cases1=covid_cases1.reset_index()
covid_cases2=covid_cases2.reset_index()

In [14]:
covid_cases1['Incident_Rate']= covid_cases2['Incident_Rate']
covid_cases1['Case_Fatality_Ratio']= covid_cases2['Case_Fatality_Ratio']

In [15]:
covid_cases1

,Country_Region,date,Confirmed,Deaths,Recovered,Active,Incident_Rate,Case_Fatality_Ratio
0,Afghanistan,2020-12-08,47716,1906,37920.0,7890.0,122.573937,3.994467
1,Afghanistan,2020-12-09,47851,1919,38032.0,7900.0,122.920728,4.010366
2,Afghanistan,2020-12-10,48053,1935,38099.0,8019.0,123.439630,4.026804
3,Afghanistan,2020-12-11,48116,1945,38141.0,8030.0,123.601466,4.042314
4,Afghanistan,2020-12-12,48229,1956,38200.0,8073.0,123.891743,4.055651
...,...,...,...,...,...,...,...,...
27025,Zimbabwe,2021-04-23,38045,1556,35094.0,1395.0,255.972461,4.089894
27026,Zimbabwe,2021-04-24,38064,1556,35101.0,1407.0,256.100296,4.087852
27027,Zimbabwe,2021-04-25,38086,1557,35123.0,1406.0,256.248315,4.088116
27028,Zimbabwe,2021-04-26,38102,1560,35149.0,1393.0,256.355965,4.094273
27029,Zimbabwe,2021-04-27,38164,1565,35480.0,1119.0,256.773111,4.100723

In [16]:
covidcases = covid_cases1.rename(columns={'Country_Region': 'country'})
covidcases['country'].replace(['US'], 'United States of America', inplace = True)

In [17]:
covidcases

,country,date,Confirmed,Deaths,Recovered,Active,Incident_Rate,Case_Fatality_Ratio
0,Afghanistan,2020-12-08,47716,1906,37920.0,7890.0,122.573937,3.994467
1,Afghanistan,2020-12-09,47851,1919,38032.0,7900.0,122.920728,4.010366
2,Afghanistan,2020-12-10,48053,1935,38099.0,8019.0,123.439630,4.026804
3,Afghanistan,2020-12-11,48116,1945,38141.0,8030.0,123.601466,4.042314
4,Afghanistan,2020-12-12,48229,1956,38200.0,8073.0,123.891743,4.055651
...,...,...,...,...,...,...,...,...
27025,Zimbabwe,2021-04-23,38045,1556,35094.0,1395.0,255.972461,4.089894
27026,Zimbabwe,2021-04-24,38064,1556,35101.0,1407.0,256.100296,4.087852
27027,Zimbabwe,2021-04-25,38086,1557,35123.0,1406.0,256.248315,4.088116
27028,Zimbabwe,2021-04-26,38102,1560,35149.0,1393.0,256.355965,4.094273
27029,Zimbabwe,2021-04-27,38164,1565,35480.0,1119.0,256.773111,4.100723

In [18]:
covidcases['country'].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia',
       'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh',
       'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan',
       'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'Brunei', 'Bulgaria', 'Burkina Faso', 'Burma', 'Burundi',
       'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada',
       'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia',
       'Comoros', 'Congo (Brazzaville)', 'Congo (Kinshasa)', 'Costa Rica',
       "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus', 'Czechia', 'Denmark',
       'Diamond Princess', 'Djibouti', 'Dominica', 'Dominican Republic',
       'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea',
       'Estonia', 'Eswatini', 'Ethiopia', 'Fiji', 'Finland', 'France',
       'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece',
       'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana',
       'Haiti', 'Holy See', 'Honduras', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kosovo',
       'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho',
       'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg',
       'MS Zaandam', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives',
       'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius',
       'Mexico', 'Micronesia', 'Moldova', 'Monaco', 'Mongolia',
       'Montenegro', 'Morocco', 'Mozambique', 'Namibia', 'Nepal',
       'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria',
       'North Macedonia', 'Norway', 'Oman', 'Pakistan', 'Panama',
       'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland',
       'Portugal', 'Qatar', 'Romania', 'Russia', 'Rwanda',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Korea',
       'South Sudan', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Sweden',
       'Switzerland', 'Syria', 'Taiwan*', 'Tajikistan', 'Tanzania',
       'Thailand', 'Timor-Leste', 'Togo', 'Trinidad and Tobago',
       'Tunisia', 'Turkey', 'United States of America', 'Uganda',
       'Ukraine', 'United Arab Emirates', 'United Kingdom', 'Uruguay',
       'Uzbekistan', 'Vanuatu', 'Venezuela', 'Vietnam',
       'West Bank and Gaza', 'Yemen', 'Zambia', 'Zimbabwe'], dtype=object)

# Covid Vaccines

In [19]:
covid_vaccines = pd.read_csv('country_vaccinations.csv')

In [20]:
del covid_vaccines['iso_code']
del covid_vaccines['source_name']
del covid_vaccines['source_website']

In [21]:
covid_vaccines

,country,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million,vaccines
0,Afghanistan,22/02/2021,0.0,0.0,NaN,NaN,NaN,0.00,0.00,NaN,NaN,Oxford/AstraZeneca
1,Afghanistan,23/02/2021,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0,Oxford/AstraZeneca
2,Afghanistan,24/02/2021,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0,Oxford/AstraZeneca
3,Afghanistan,25/02/2021,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0,Oxford/AstraZeneca
4,Afghanistan,26/02/2021,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0,Oxford/AstraZeneca
...,...,...,...,...,...,...,...,...,...,...,...,...
13921,Zimbabwe,20/04/2021,325007.0,288229.0,36778.0,8016.0,10950.0,2.19,1.94,0.25,737.0,Sinopharm/Beijing
13922,Zimbabwe,21/04/2021,332996.0,295631.0,37365.0,7989.0,10124.0,2.24,1.99,0.25,681.0,Sinopharm/Beijing
13923,Zimbabwe,22/04/2021,351799.0,308071.0,43728.0,18803.0,9417.0,2.37,2.07,0.29,634.0,Sinopharm/Beijing
13924,Zimbabwe,23/04/2021,365985.0,319732.0,46253.0,14186.0,8755.0,2.46,2.15,0.31,589.0,Sinopharm/Beijing
13925,Zimbabwe,24/04/2021,372099.0,324488.0,47611.0,6114.0,8600.0,2.50,2.18,0.32,579.0,Sinopharm/Beijing

In [22]:
covid_vaccines['date'] = pd.to_datetime(covid_vaccines['date'], format = '%d/%m/%Y')
covid_vaccines['date'] = pd.to_datetime(covid_vaccines['date']).dt.date

In [23]:
covid_vaccines.dtypes

country                                 object
date                                    object
total_vaccinations                     float64
people_vaccinated                      float64
people_fully_vaccinated                float64
daily_vaccinations_raw                 float64
daily_vaccinations                     float64
total_vaccinations_per_hundred         float64
people_vaccinated_per_hundred          float64
people_fully_vaccinated_per_hundred    float64
daily_vaccinations_per_million         float64
vaccines                                object
dtype: object

In [24]:
covid_vaccines = covid_vaccines.fillna(0)

In [25]:
#Merge UK countries
covid_vaccines['country'].replace(['England', 'Wales', 'Scotland', 'Northern Ireland'], 'United Kingdom', inplace = True)
#Change United States to Unites States of America
covid_vaccines['country'].replace(['United States'], 'United States of America', inplace = True)
#Correct Spelling of Faroe Islands
covid_vaccines['country'].replace(['Faeroe Islands'], 'Faroe Islands', inplace = True)
#Change Northern Cyprus to Cyprus
covid_vaccines['country'].replace(['Northern Cyprus'], 'Cyprus', inplace = True)

In [26]:
covid_vaccines

,country,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million,vaccines
0,Afghanistan,2021-02-22,0.0,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.0,Oxford/AstraZeneca
1,Afghanistan,2021-02-23,0.0,0.0,0.0,0.0,1367.0,0.00,0.00,0.00,35.0,Oxford/AstraZeneca
2,Afghanistan,2021-02-24,0.0,0.0,0.0,0.0,1367.0,0.00,0.00,0.00,35.0,Oxford/AstraZeneca
3,Afghanistan,2021-02-25,0.0,0.0,0.0,0.0,1367.0,0.00,0.00,0.00,35.0,Oxford/AstraZeneca
4,Afghanistan,2021-02-26,0.0,0.0,0.0,0.0,1367.0,0.00,0.00,0.00,35.0,Oxford/AstraZeneca
...,...,...,...,...,...,...,...,...,...,...,...,...
13921,Zimbabwe,2021-04-20,325007.0,288229.0,36778.0,8016.0,10950.0,2.19,1.94,0.25,737.0,Sinopharm/Beijing
13922,Zimbabwe,2021-04-21,332996.0,295631.0,37365.0,7989.0,10124.0,2.24,1.99,0.25,681.0,Sinopharm/Beijing
13923,Zimbabwe,2021-04-22,351799.0,308071.0,43728.0,18803.0,9417.0,2.37,2.07,0.29,634.0,Sinopharm/Beijing
13924,Zimbabwe,2021-04-23,365985.0,319732.0,46253.0,14186.0,8755.0,2.46,2.15,0.31,589.0,Sinopharm/Beijing
13925,Zimbabwe,2021-04-24,372099.0,324488.0,47611.0,6114.0,8600.0,2.50,2.18,0.32,579.0,Sinopharm/Beijing

In [27]:
covid_vaccines['country'].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Anguilla', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba',
       'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain',
       'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize',
       'Bermuda', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina',
       'Botswana', 'Brazil', 'Brunei', 'Bulgaria', 'Cambodia', 'Cameroon',
       'Canada', 'Cape Verde', 'Cayman Islands', 'Chile', 'China',
       'Colombia', 'Congo', 'Costa Rica', "Cote d'Ivoire", 'Croatia',
       'Curacao', 'Cyprus', 'Czechia', 'Denmark', 'Djibouti', 'Dominica',
       'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador',
       'United Kingdom', 'Equatorial Guinea', 'Estonia', 'Eswatini',
       'Ethiopia', 'Faroe Islands', 'Falkland Islands', 'Fiji', 'Finland',
       'France', 'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana',
       'Gibraltar', 'Greece', 'Greenland', 'Grenada', 'Guatemala',
       'Guernsey', 'Guinea', 'Guyana', 'Honduras', 'Hong Kong', 'Hungary',
       'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland',
       'Isle of Man', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jersey',
       'Jordan', 'Kazakhstan', 'Kenya', 'Kosovo', 'Kuwait', 'Kyrgyzstan',
       'Laos', 'Latvia', 'Lebanon', 'Lesotho', 'Libya', 'Liechtenstein',
       'Lithuania', 'Luxembourg', 'Macao', 'Malawi', 'Malaysia',
       'Maldives', 'Mali', 'Malta', 'Mauritania', 'Mauritius', 'Mexico',
       'Moldova', 'Monaco', 'Mongolia', 'Montenegro', 'Montserrat',
       'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal',
       'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria',
       'North Macedonia', 'Norway', 'Oman', 'Pakistan', 'Palestine',
       'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines',
       'Poland', 'Portugal', 'Qatar', 'Romania', 'Russia', 'Rwanda',
       'Saint Helena', 'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Korea',
       'South Sudan', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Sweden',
       'Switzerland', 'Syria', 'Taiwan', 'Thailand', 'Timor', 'Togo',
       'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey',
       'Turks and Caicos Islands', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United States of America', 'Uruguay',
       'Uzbekistan', 'Venezuela', 'Vietnam', 'Zambia', 'Zimbabwe'],
      dtype=object)

# Export CSV Files

In [28]:
#covidcases.to_csv('Covid Cases',index = False, header=True)
#covid_vaccines.to_csv('Covid Vaccines',index = False, header=True)

# Covid Cases and Vaccines Merged

In [29]:
merged_data = pd.merge(covidcases, covid_vaccines, how='inner')

In [30]:
merged_data

,country,date,Confirmed,Deaths,Recovered,Active,Incident_Rate,Case_Fatality_Ratio,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million,vaccines
0,Afghanistan,2021-02-22,55617,2433,48895.0,4289.0,142.870204,4.374562,0.0,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.0,Oxford/AstraZeneca
1,Afghanistan,2021-02-23,55646,2435,48967.0,4244.0,142.944699,4.375876,0.0,0.0,0.0,0.0,1367.0,0.00,0.00,0.00,35.0,Oxford/AstraZeneca
2,Afghanistan,2021-02-24,55664,2436,49086.0,4142.0,142.990938,4.376258,0.0,0.0,0.0,0.0,1367.0,0.00,0.00,0.00,35.0,Oxford/AstraZeneca
3,Afghanistan,2021-02-25,55680,2438,49281.0,3961.0,143.032039,4.378592,0.0,0.0,0.0,0.0,1367.0,0.00,0.00,0.00,35.0,Oxford/AstraZeneca
4,Afghanistan,2021-02-26,55696,2442,49285.0,3969.0,143.073140,4.384516,0.0,0.0,0.0,0.0,1367.0,0.00,0.00,0.00,35.0,Oxford/AstraZeneca
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12447,Zimbabwe,2021-04-20,37875,1554,35058.0,1263.0,254.828675,4.102970,325007.0,288229.0,36778.0,8016.0,10950.0,2.19,1.94,0.25,737.0,Sinopharm/Beijing
12448,Zimbabwe,2021-04-21,37980,1555,35065.0,1360.0,255.535131,4.094260,332996.0,295631.0,37365.0,7989.0,10124.0,2.24,1.99,0.25,681.0,Sinopharm/Beijing
12449,Zimbabwe,2021-04-22,38018,1555,35073.0,1390.0,255.790801,4.090168,351799.0,308071.0,43728.0,18803.0,9417.0,2.37,2.07,0.29,634.0,Sinopharm/Beijing
12450,Zimbabwe,2021-04-23,38045,1556,35094.0,1395.0,255.972461,4.089894,365985.0,319732.0,46253.0,14186.0,8755.0,2.46,2.15,0.31,589.0,Sinopharm/Beijing
12451,Zimbabwe,2021-04-24,38064,1556,35101.0,1407.0,256.100296,4.087852,372099.0,324488.0,47611.0,6114.0,8600.0,2.50,2.18,0.32,579.0,Sinopharm/Beijing

In [32]:
merged_data.to_csv('Covid Cases and Vaccines Merged.csv',index = False, header=True)